.btn-consult {
  color:white;
  font-size: 13px;
  border: 2px solid#458FF6;
  border-radius: 40px;
  padding: 10px 25px;
  background-color: #458FF6;
}

h1 {
    line-height: 40px;
    margin: 40px auto ;
}

p {
    color: #7D7987
}