@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&display=swap');

* {
    font-family: 'Mulish';
}

.btn-accent {
    border: solid 1px blue;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.btn-normal {
    border: solid 1px blue;
    color: blue;
}

.bloo {
    color: blue !important;
}